.service_item{
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    border-radius: 15px;
    line-height: 1.1rem;
    cursor: pointer;
}
.service_item span i{
    font-size:2.5rem;
    background: var(--primary-color);
    color: #fff;
    padding: 10px;
    font-weight: 500!important;
}
.service_item h3 {
    font: 1.1rem sans-serif;
    font-weight: 500;
}
.service_item p{
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 500;
}