.hero_section{
    background:#b6ddfb;
}

.hero_section h2 {
    color: var(--primary-color);
    font-size: 2.1rem;
    font-weight: 600;
    margin: 30px 0;
    font-family: 'Courgette', cursive;
}

.hero_section p{
    color: rgb(0, 0, 0);
    line-height: 24px;
    font-family: 'Playfair Display SC', serif;
    font-size: 1.rem;
}
.hero_section p:nth-child(1){
   font-weight: 500;
   
}

.buy_btn{ 
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 90px;
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    margin-top: 7%;
}
.buy_btn a{
    color:white;
    text-decoration: none;
}.buy_btn a:hover{
    color:white;
    
}
 