
.product_item{
    cursor: pointer;
    margin: 10px;
}
.product_img img {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
 
.product_info h3{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 15px;
    padding: 0;
    
}
.product_info span {
    font-size: 0.9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(124, 90, 90);
    font-size: 1.1rem;
}
@media only screen and (max-width: 820px) {
    .product_info span {
        font-size: 1.3rem;
        color: #000;
        font-weight: 600;
    }
}
.product_info a{
    text-decoration: none;
}
.product_info a:hover{
    color: rgb(58, 58, 214);
}
.product_card-bottom .price {
   font-size: 1.2rem;
   font-weight: 500;
}
.product_card-bottom span i {
    font-size: 1.3rem;
    padding: 2px;
    margin: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 100%;
}
.copy_item {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media only screen and (max-width: 992px){
    .product_info h3 a {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 768px){
    .product_info h3 a {
        font-size: 1.3rem;
    }
    .product_card-bottom span i{
        font-size: 1rem;
    }
}