
 .product_detalis {
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product_detalis h2 {
    margin-bottom: 10px;
    padding-bottom: 20px;
}



.product_rating span i {
    color: goldenrod;
}

.product_rating p span {
    color: goldenrod;
    font-weight: 500;
}

.product_price{
    font-size: 1.3rem;
    font-weight: 500;
   
}

.product_detalis .buy_btn {
    color: azure;
}

.tab_wrapper {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.active_tab {
    font-weight: 600;
    
}

.tab_content {
    line-height:23px;
}

.review_wrapper ul li span {
    color: goldenrod;
    font-weight: 600;
}

.review_wrapper ul li p {
   margin-top: 10px;
}

.review_form{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.review_form h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.form_group input,
.form_group textarea {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}

.form_group input:focus, 
.form_group textarea:focus {
    outline: none;
}

.form_group {
    margin-bottom: 30px;
}
.form_group span {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: goldenrod;
    font-weight: 600;
    cursor: pointer;

}

.related_title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}

.buy_btn {
    color: white;
    margin-top: 4px;
    border-radius: 5px;
}
@media only screen and (max-width: 768px) {
    .product_detalis h2 {
        font-size: 1rem;
        
    }
   
}