.header {
    top: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: rgb(246, 235, 213);
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 0;

}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;

}

.nav_item a {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width: 820px) {
    .nav_item a {
        font-size: 1.2rem;
        font-weight: 600;
    }
}
@media only screen and (max-width: 912px) {
    .nav_item a {
        font-size: 1.4rem;
        font-weight: 600;
    }
}
.nav_item a:hover {
    color: rgb(53, 53, 130);
}

.nav_icon {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;

}

.cart_icon,
.fav_icon {
    position: relative;
}
.badge {
    position: absolute;
    top: 24%;
    right: -8%;
    width: 15px;
    height: 15px;
    content: '';
    background: var(--primary-color);
    border-radius: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem !important;
    font-weight: 600;
    z-index: 10;
 }

.nav_icon span i {
    font-size: 1.4rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav_icon span img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 35%;
}

.mobile_menu {
    font-size: 1.9rem;
    color: var(--primary-color);
    display: none;
}

.nav_active {
    color: rgb(56, 23, 23) !important;
    font-weight: 700 !important;
}

.sticky_header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px rgb(211, 203, 203);
    background: rgb(151, 132, 132);
}

@media only screen and (max-width: 768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.509);
        z-index: 9999;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .active_menu {
        display: block;
    }

    .mobile_menu {
        display: block;
    }
    .mobile_menu span {
        font-size: 1.2rem !important;
    }
    .log img {
        height: 1rem;
        width: 1rem;
    }
    .log h1 {
        font-size: 1.1rem;
    }
    .fav_icon i, .cart_icon i {
        font-size: 1.2rem !important;
    }
    .nav_icon span img {
        width: 1.4rem;
        height: 1.4rem;
    }
    .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
}
